/* =============================================================================
 VARIABLES
 ========================================================================== */

// Colors
// --------------------------------------------------------
$background: #efeeee;
$brown: #3c2415;
$grayDark: #333;

// Typography
// --------------------------------------------------------
$letter-gothic-stack: letter-gothic-std;
$garamond-stack: adobe-garamond-pro;

// Measurements
// --------------------------------------------------------
$containerWidth: 985px;
$contentWidth: 712px;
$navWidth: 240px;

$duration: 0.2s;

// Responsive breakpoints
// --------------------------------------------------------
$erie: 1015px;
$ontario: 780px;
$ladoga: 620px;
$balkhash: 342px;
