<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Plazm Issue</title>
  <meta name="description" content="">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="styles/main.css">
  <script src="scripts/vendor/modernizr.js"></script>

  <script type="text/javascript" src="http://use.typekit.com/zfy2cht.js"></script>
  <script type="text/javascript">try {
    Typekit.load();
  } catch (e) {
  }</script>

  <base href="http://code.michaelmcman.us/plazm-templates/">
</head>
<body>
<div id="container">
  
  <header>
    <nav id="primary">
      <a id="logo" href="/">PLAZM.ORG</a>
      <div class="toggler-container">
        <button class="toggler" data-behavior="open-nav"></button>
      </div>      <ul>
        <li><a href="">Contents</a>
          <div class="dropdown">
            <div class="group">
              <a class="header" href="">Publications</a>
              <ul>
                <li><a href="publications/plazm-online/">Plazm Online</a></li>
                <li><a href="publications/plazm-magazine/">Plazm Magazine</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="about/">About</a></li>
        <li><a href="blog/">Blog</a></li>
        <li><a href="join-our-cult/">Join Our Cult</a></li>
      </ul>
    </nav>
    <hr class="mast-divider">
  </header>
  
  <div id="main" role="main">


    <div class="two-col clearfix">
      <!--TYPO3SEARCH_begin-->
      <div class="col col-left">
        <div class="content">
          <div class="title-box white red-border">
            <div class="header"><h1>Plazm Magazine</h1></div>

            <div class="content">
              <p class="bodytext">Founded in 1991 by Portland artists as a creative resource, today <b>Plazm</b> is an award-winning magazine that publishes challenging and innovative art, design, cultural, and literary works.</p>
            </div>

          </div>

          <div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:v="http://fedext.net/ns/vhs/ViewHelpers" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

            <h2><a class="more" href="publications/plazm-magazine/plazm-29-collective-memory/">Plazm 29: Collective Memory</a></h2>
            <div class="two-col half">

              <div class="two-col half">


                <div class="col col-left">
                  <div class="content">

                    <div class="archive-teaser">

                      <img src="images/csm_BillWalton_eafa58f09a.png" width="348" height="200" alt="">
                      <!--You must either specify a string src or a File object.-->

                      <h3>
                        <a href="publications/plazm-magazine/plazm-29-collective-memory/letter-from-the-editors/">
                          Letter From the Editors
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>



                <div class="col col-right">
                  <div class="content">

                    <div class="archive-teaser">

                      <img src="images/csm_divide-and-quite-teaser_d648e2287d.png" width="347" height="200" alt="">
                      <!--You must either specify a string src or a File object.-->

                      <h3>
                        <a href="publications/plazm-magazine/plazm-29-collective-memory/divide-and-quit/">
                          Divide and Quit
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>



                <div class="col col-left">
                  <div class="content">

                    <div class="archive-teaser">

                      <img src="images/csm_three-explosions-teaser_23d5f20b77.png" width="348" height="200" alt="">
                      <!--You must either specify a string src or a File object.-->

                      <h3>
                        <a href="publications/plazm-magazine/plazm-29-collective-memory/three-explosions-on-the-columbia/">
                          Three Explosions on the Columbia
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>



                <div class="col col-right">
                  <div class="content">

                    <div class="archive-teaser">

                      <img alt="Two Memories with Guns by Emily Chenoweth" src="images/csm_two-memories-teaser_58ab8d52c4.png" width="348" height="200" title="Two Memories with Guns by Emily Chenoweth">
                      <!--You must either specify a string src or a File object.-->

                      <h3>
                        <a href="publications/plazm-magazine/plazm-29-collective-memory/two-memories-with-guns/">
                          Two Memories With Guns
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>


              </div>

            </div>
            <div class="clearfix"></div>
            <a class="more" href="publications/plazm-magazine/plazm-29-collective-memory/">All Articles ></a>

          </div>
        </div>
      </div>
      <!--TYPO3SEARCH_end-->
      <div class="col col-right">
        <div class="content">
          <nav id="auxiliary">
            <ul class="plain horizontal social"><li class="twitter"><a href="http://twitter.com/PlazmMagazine" target="_top"><span style="display: none">Plazm on Twitter</span></a></li><li class="facebook"><a href="https://www.facebook.com/pages/PLAZM/48648579556" target="_top"><span style="display: none">Plazm on Facebook</span></a></li></ul>

            <!--  CONTENT ELEMENT, uid:21/search [begin] -->
            <a id="c21"></a>


            <!--

              BEGIN: Content of extension "solr", plugin "tx_solr"

            -->
            <div class="tx-solr">



              <script type="text/javascript">
                /*<![CDATA[*/
                var tx_solr_suggestUrl = 'http://staging.plazm.org/?eID=tx_solr_suggest&id=16';
                /*]]>*/
              </script>

              <form class="search" action="search/" method="get" accept-charset="utf-8"><input class="tx-solr-q" type="text" name="tx_solr[q]" value=""><input type="hidden" name="id" value="25"><input type="hidden" name="L" value="0"><input type="submit" value=""></form>





            </div>

            <!-- END: Content of extension "solr", plugin "tx_solr" -->


            <!--  CONTENT ELEMENT, uid:21/search [end] -->

          </nav>
          <div class="callout big-text">

            <!--  CONTENT ELEMENT, uid:14/text [begin] -->
            <a id="c14"></a>
            <!--  Text: [begin] -->
            <p class="bodytext">PLAZM.ORG PUBLISHES NEW WORK AND EXTENSIVE ARCHIVES RELATED TO ART, DESIGN, AND CULTURE. ACTING AS AN ONLINE LIBRARY, THE SITE FEATURES INTERNATIONAL CONTRIBUTORS IN ADDITION TO CONTEXTUALIZING PORTLAND'S CREATIVE CULTURE FROM 1990 TO THE PRESENT.</p>
            <!--  Text: [end] -->

            <!--  CONTENT ELEMENT, uid:14/text [end] -->

          </div>

          <div class="callout big-text mtxl">
            <h3>Publication Archive</h3>
            <hr>

            <ul class="plain vertical">

              <li class="sub"><a tabindex="101" href="publications/plazm-online/" class="sub">Plazm Online</a></li>

              <li class="active current sub"><a tabindex="102" href="publications/plazm-magazine/" class="active current sub">Plazm Magazine</a></li>

            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="nav-overlay" data-behavior="close-nav"></div>
</div>

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
  improve your experience.</p>
<![endif]-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
  (function(d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s)
  }(document, 'script'));
</script>

<script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>

<script src="scripts/fastclick.js"></script>
</body>
</html>