<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Plazm Issue</title>
  <meta name="description" content="">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="styles/main.css">
  <script src="scripts/vendor/modernizr.js"></script>

  <script type="text/javascript" src="http://use.typekit.com/zfy2cht.js"></script>
  <script type="text/javascript">try {
    Typekit.load();
  } catch (e) {
  }</script>

  <base href="http://code.michaelmcman.us/plazm-templates/">
</head>
<body>
<div id="container">

  <header>
    <nav id="primary">
      <a id="logo" href="/">PLAZM.ORG</a>
      <div class="toggler-container">
        <button class="toggler" data-behavior="open-nav"></button>
      </div>      <ul>
        <li><a href="">Contents</a>
          <div class="dropdown">
            <div class="group">
              <a class="header" href="">Publications</a>
              <ul>
                <li><a href="publications/plazm-online/">Plazm Online</a></li>
                <li><a href="publications/plazm-magazine/">Plazm Magazine</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="about/">About</a></li>
        <li><a href="blog/">Blog</a></li>
        <li><a href="join-our-cult/">Join Our Cult</a></li>
      </ul>
    </nav>
    <hr class="mast-divider">
  </header>

<div id="main" role="main">

<!--TYPO3SEARCH_begin-->

<!--  CONTENT ELEMENT, uid:17/search [begin] -->
<div id="c17" class="csc-default">


<!--

  BEGIN: Content of extension "solr", plugin "tx_solr"

-->
<div class="tx-solr">

<div class="two-col clearfix">
  <div class="col col-left">
    <div class="content">
      <div class="title-box white red-border">
        <div class="header"><h1>Search</h1></div>
      </div>
    </div>
  </div>
  <div class="col col-right">
    <div class="content"></div>
  </div>
</div>
<div class="two-col article-header clearfix">
<div class="col col-left">
<div class="content">
<div id="tx-solr-search">

<script type="text/javascript">
  /*<![CDATA[*/
  var tx_solr_suggestUrl = 'http://staging.plazm.org/?eID=tx_solr_suggest&id=25';
  /*]]>*/
</script>

<!--<form id="tx-solr-search-form-pi-results" action="search/" method="get"-->
<!--accept-charset="utf-8">-->
<!--Search Term <input type="text" class="tx-solr-q" name="[q]"-->
<!--value="art"/>-->
<!--<input type="hidden" name="id" value="25"/>-->
<!--<input type="hidden" name="L"-->
<!--value="0"/>-->
<!--<input type="submit" value="Search"/>-->
<!--</form>-->
<form class="search" id="tx-solr-search-form-pi-results" action="/search/" method="get" accept-charset="utf-8">
  <input type="text" name="tx_solr[q]" value="art" class="tx-solr-q">
  <input type="hidden" name="id" value="25">
  <input type="hidden" name="L" value="0">
  <input type="submit" value="">
</form>


<div id="tx-solr-results-meta">
  <a class="more no-wide" href="#tx-solr-facets-available">Narrow search &gt;</a>
  <p>Searched for "<span class="tx-solr-search-word">art</span>".
    Found 9 results in 1278 milliseconds. <br>
    Displaying results 1 to 9 of 9.</p>
</div>
<hr>

<ul start="1" class="results-list">


  <li class="results-entry">
    <h3 class="results-topic"><a href="12/">About</a></h3>

    <div class="results-teaser">
      <p>About Plazm.org publishes both new work and extensive archives related to <span class="results-highlight">art</span>, design, and culture. Acting as an online library, the site features
        international contributors in addition to contextualizing Portland's creative culture from 1990 to the present.
        The site is a presentation of the nonprofit organization New Oregon <span class="results-highlight">Arts</span>
        & Letters. Tiffany Lee Brown is the editor. Plazm.org was designed by Joshua Berger and engineered by the
        fabulous Michael McManus. We are forever grateful to Oregon Cultural Trust for a grant helping us launch this
        project.</p>

      <p>Location: 12/</p>
      <!--<p>-->
      <!--Score: <em>0.307167</em><br />-->
      <!--Document ID: <em>b628fd7f61b60733d179647bdd03b7ceb8d0d00f/pages/12/0/0/0</em>-->
      <!--</p>-->
      <!--<div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 100%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 0%"></div></div>-->
      <!--Relevance: 100%-->
    </div>
  </li>

  <li class="results-entry">
    <h3 class="results-topic"><a href="16/">Plazm Magazine</a></h3>

    <div class="results-teaser">
      <p>Plazm Magazine Founded in 1991 by Portland artists as a creative resource, today Plazm is an award-winning
        magazine that publishes challenging and innovative <span class="results-highlight">art</span>, design, cultural,
        and literary works. Plazm 29: Collective Memory Letter From the Editors Divide and Quit</p>

      <p>Location: 16/</p>
      <!--<p>-->
      <!--Score: <em>0.2714998</em><br />-->
      <!--Document ID: <em>b628fd7f61b60733d179647bdd03b7ceb8d0d00f/pages/16/0/0/0</em>-->
      <!--</p>-->
      <!--<div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 88%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 12%"></div></div>-->
      <!--Relevance: 88%-->
    </div>
  </li>

  <li class="results-entry">
    <h3 class="results-topic"><a href="publications/plazm-magazine/plazm-29-collective-memory/post-utopic/">Post Utopic</a></h3>

    <div class="results-teaser">
      <p> and queer visibility, among other things. She's made several calendars, and had a solo show at Deitch
        Projects. JD is a proud lesbian who creates <span class="results-highlight">art</span> and music that celebrates
        feminism and the queer</p>

      <p>Location: publications/plazm-magazine/plazm-29-collective-memory/post-utopic/</p>
      <!--<p>-->
      <!--Score: <em>0.2428989</em><br />-->
      <!--Document ID: <em>b628fd7f61b60733d179647bdd03b7ceb8d0d00f/pages/47/0/0/0</em>-->
      <!--</p>-->
      <!--<div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 79%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 21%"></div></div>-->
      <!--Relevance: 79%-->
    </div>
  </li>

  <li class="results-entry">
    <h3 class="results-topic"><a href="14/">Join Our Cult</a></h3>

    <div class="results-teaser">
      <p> Modern, Elizabeth Leach Gallery, Pacific Northwest College of <span class="results-highlight">Art</span>, and
        Miramax Films. New Oregon <span class="results-highlight">Arts</span> and Letters is a 501(c)(3) tax-exempt,
        nonprofit</p>

      <p>Location: 14/</p>
      <!--<p>-->
      <!--Score: <em>0.21248223</em><br />-->
      <!--Document ID: <em>b628fd7f61b60733d179647bdd03b7ceb8d0d00f/pages/14/0/0/0</em>-->
      <!--</p>-->
      <!--<div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 69%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 31%"></div></div>-->
      <!--Relevance: 69%-->
    </div>
  </li>

  <li class="results-entry">
    <h3 class="results-topic"><a href="publications/plazm-online/web-only-articles/vanessa-renwick-big-fields-of-emptiness/">Vanessa Renwick: Big
      Fields of Emptiness</a></h3>

    <div class="results-teaser">
      <p> and it’s popular around here. She’s converted her basement into an office and screening room with a painted
        concrete floor that feels like an <span class="results-highlight">art</span> bunker. The way she’s both embraced
        and reshaped her old</p>

      <p>Location: publications/plazm-online/web-only-articles/vanessa-renwick-big-fields-of-emptiness/</p>
      <!--<p>-->
      <!--Score: <em>0.20528704</em><br />-->
      <!--Document ID: <em>b628fd7f61b60733d179647bdd03b7ceb8d0d00f/pages/10/0/0/0</em>-->
      <!--</p>-->
      <!--<div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 67%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 33%"></div></div>-->
      <!--Relevance: 67%-->
    </div>
  </li>

  <li class="results-entry">
    <h3 class="results-topic"><a href="publications/plazm-magazine/plazm-29-collective-memory/letter-from-the-editors/">Letter From the Editors</a>
    </h3>

    <div class="results-teaser">
      <p>Letter From the Editors We already have more music, writing, <span class="results-highlight">art</span>, and
        experience piled upthan we can possibly deal with, and so much of the fresh news wereceive is at best a
        distraction. Every week, the next movies arrive,the next celebrity temper tantrum,</p>

      <p>Location: publications/plazm-magazine/plazm-29-collective-memory/letter-from-the-editors/</p>
      <!--<p>-->
      <!--Score: <em>0.1535835</em><br />-->
      <!--Document ID: <em>b628fd7f61b60733d179647bdd03b7ceb8d0d00f/pages/19/0/0/0</em>-->
      <!--</p>-->
      <!--<div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 50%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 50%"></div></div>-->
      <!--Relevance: 50%-->
    </div>
  </li>

  <li class="results-entry">
    <h3 class="results-topic"><a href="publications/plazm-magazine/plazm-29-collective-memory/three-explosions-on-the-columbia/">Three Explosions
      on the Columbia</a></h3>

    <div class="results-teaser">
      <p> "¨The cooling tower, out of use for 15 years, was imploded in 2006. The spent fuel rods remain on the site.
        Vanessa Renwick, Trojan, cibachrome, 16" x 20", printed 2007. Courtesy of PDX Contemporary <span class="results-highlight">Art</span></p>

      <p>Location: publications/plazm-magazine/plazm-29-collective-memory/three-explosions-on-the-columbia/</p>
      <!--<p>-->
      <!--Score: <em>0.1357499</em><br />-->
      <!--Document ID: <em>b628fd7f61b60733d179647bdd03b7ceb8d0d00f/pages/22/0/0/0</em>-->
      <!--</p>-->
      <!--<div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 44%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 56%"></div></div>-->
      <!--Relevance: 44%-->
    </div>
  </li>

  <li class="results-entry">
    <h3 class="results-topic"><a href="51/">Fixation</a></h3>

    <div class="results-teaser">
      <p> after encountering her work on Geografia Liquida , an Italian site devoted to cataloguing <span class="results-highlight">art</span> that manipulates landscape. We spoke about her strategies or un-strategies
        of manipulation. Meanwhile I monitored</p>

      <p>Location: 51/</p>
      <!--<p>-->
      <!--Score: <em>0.13300721</em><br />-->
      <!--Document ID: <em>b628fd7f61b60733d179647bdd03b7ceb8d0d00f/pages/51/0/0/0</em>-->
      <!--</p>-->
      <!--<div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 43%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 57%"></div></div>-->
      <!--Relevance: 43%-->
    </div>
  </li>

  <li class="results-entry">
    <h3 class="results-topic"><a href="publications/plazm-magazine/plazm-29-collective-memory/the-end-of-war/">The End of War</a></h3>

    <div class="results-teaser">
      <p> was not just another self-indulgent <span class="results-highlight">art</span> action. A man in grey-blue
        trousers speaks in thickly accented English. "Where send?" the man asked. "Anywhere you want it to go."
        "Africa?"</p>

      <p>Location: publications/plazm-magazine/plazm-29-collective-memory/the-end-of-war/</p>
      <!--<p>-->
      <!--Score: <em>0.09180716</em><br />-->
      <!--Document ID: <em>b628fd7f61b60733d179647bdd03b7ceb8d0d00f/pages/48/0/0/0</em>-->
      <!--</p>-->
      <!--<div class="tx-solr-relevance-bar"><div class="tx-solr-relevance themeColorBackground" style="width: 30%">&nbsp;</div><div class="tx-solr-relevance-fill" style="width: 70%"></div></div>-->
      <!--Relevance: 30%-->
    </div>
  </li>


</ul>


<!--

  BEGIN: Content of extension "pagebrowse", plugin "tx_pagebrowse_pi1"

-->
<div class="tx-pagebrowse-pi1">

</div>

<!-- END: Content of extension "pagebrowse", plugin "tx_pagebrowse_pi1" -->


</div>
</div>
</div>
<div class="col col-right">
  <div class="content">

    <div id="tx-solr-search-functions">

      <div id="tx-solr-faceting">


        <div id="tx-solr-facets-available">
          <h3>Narrow Search</h3>
          <hr>
          <ul class="facets plain vertical">

            <li class="facet facet-type">
              <h5>Content Type</h5>
              <ul>


                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=type%253Apages" rel="nofollow">pages</a>
                  (9)
                </li>


              </ul>
            </li>

            <li class="facet facet-categories">
              <h5>Categories</h5>
              <ul>


                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=categories%253APhotography" rel="nofollow">Photography</a> (2)
                </li>


              </ul>
            </li>

            <li class="facet facet-contributors">
              <h5>Contributors</h5>
              <ul>


                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ATiffany%2BLee%2BBrown" rel="nofollow">Tiffany Lee Brown</a> (2)
                </li>

                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AVanessa%2BRenwick" rel="nofollow">Vanessa Renwick</a> (2)
                </li>

                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AAdam%2BEvens" rel="nofollow">Adam Evens</a> (1)
                </li>

                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AAlex%2BLilly" rel="nofollow">Alex Lilly</a> (1)
                </li>

                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AArt%2BChantry" rel="nofollow">Art Chantry</a> (1)
                </li>

                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ABarbara%2BBreitenfellner" rel="nofollow">Barbara Breitenfellner</a> (1)
                </li>

                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ABenjamin%2BGifford" rel="nofollow">Benjamin Gifford</a> (1)
                </li>

                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ADavid%2BTartakover" rel="nofollow">David Tartakover</a> (1)
                </li>

                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ADevora%2BNeumark" rel="nofollow">Devora Neumark</a> (1)
                </li>

                <li class="">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AElizabeth%2BPusack" rel="nofollow">Elizabeth Pusack</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AJamie%2BMcMurry" rel="nofollow">Jamie McMurry</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AJosh%2BBerger" rel="nofollow">Josh Berger</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AKristen%2BTsiatsios" rel="nofollow">Kristen Tsiatsios</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ALidia%2BYuknavitch" rel="nofollow">Lidia Yuknavitch</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AMagdalen%2BPowers" rel="nofollow">Magdalen Powers</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AMansi%2BShah" rel="nofollow">Mansi Shah</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AMarvin%2BBell" rel="nofollow">Marvin Bell</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ANic%2BWarmenhoven" rel="nofollow">Nic Warmenhoven</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ANora%2BRobertson" rel="nofollow">Nora Robertson</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ARay%2BAtkeson" rel="nofollow">Ray Atkeson</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ARebeca%2BMindez" rel="nofollow">Rebeca Mindez</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253ASue%2BCoe" rel="nofollow">Sue Coe</a> (1)
                </li>

                <li class="tx-solr-facet-hidden">
                  <a href="search/?tx_solr%5Bq%5D=art&amp;tx_solr%5Bfilter%5D%5B0%5D=contributors%253AYoko%2BOno" rel="nofollow">Yoko Ono</a> (1)
                </li>


                <li><a href="#" class="tx-solr-facet-show-all">Show more</a></li>
              </ul>
            </li>

          </ul>
        </div>

      </div>


    </div>
    <div class="nav-overlay" data-behavior="close-nav"></div>
  </div>

  <!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
  <![endif]-->

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
    (function(d, t) {
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
      g.src = '//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s)
    }(document, 'script'));
  </script>

  <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>

  <script src="scripts/fastclick.js"></script>
</div></div></div></div></div></div></body>
</html>